<div class="wrapper-content">
  <div class="box-tile">
    <h1 class="typing-element"> </h1>
    <button class="btn btn-home-cadastro-clientes" (click)="gotoCadastroClientes()">Crie sua conta</button>  
  </div>
  <div class="bg_img"></div>
</div>
