@import url("https://fonts.googleapis.com/css?family=Crete+Round|Poppins");

.wrapper-content {
  width: 100vw;

  height: 70vh;

  z-index: -9999;

  top: -60px;
}

.box-tile {
  width: 40vw;

  height: 100px;

  position: absolute;

  top: 20%;

  left: 5%;

  padding: 10px;
}

.wrapper-content h1 {
  font-size: 40pt;

  color: rgb(255, 255, 255);

  text-shadow: 1px 2px #333;

  font-family: "Crete Round", serif !important;
}

.bg_img {
  right: 0;

  bottom: 0;

  min-width: 100%;

  min-height: 100%;

  width: auto;

  height: auto;

  z-index: -1000;

  background: url("https://victorhugo.art.br/wp-content/uploads/2018/11/capainvestimentos-1140x641.jpg")
    no-repeat;

  background-size: cover;
}
.btn-home-cadastro-clientes {
  position: absolute !important;

  top: 280px;

  padding: 20px;

  font-size: 18px;

  width: 30%;

  background: rgb(238, 53, 53);

  color: #fff;

  border: 1px solid;
}
