.wrapper-header {
  height: 30vh;

  padding: 10px;

  background: #1a6bad;

  color: #fff;

  box-shadow: 0 2px 5px -2px grey;
}

.menu-header li {
  display: block;

  font-size: 16px;

  margin-left: -24px;

  padding: 0px;
}

.acessar-conta {
  position: relative;

  top: 10px;

  background-color: #fff;

  border: 0;

  color: #333;
}

@media screen and (min-width: 600px) {
  .wrapper-header {
    height: 15vh;
  }

  .menu-header li {
    list-style: none;

    display: inline;

    position: relative;

    margin: 10px;

    top: 30px;

    font-size: 18px;
  }
}
