.topicos {
  width: 100vw;

  height: 50vh;

  background: #000;

  color: rgba(255, 255, 255, 0.6) !important;

  padding: 70px;
}

.topicos h6 {
  color: #fff;
}

.topicos li {
  list-style: none;

  line-height: 3;
}

.rodape {
  background: #ddd;

  height: 5vh;
}

.rodape p {
  padding-top: 6px;
}
