.box-cadastro {
  margin: 30px;

  padding: 30px;
}

.cadastro {
  padding: 10px;

  border: none;

  border-bottom: 2px solid #ddd;

  border-radius: 0;

  outline: none;

  height: 50px;
}

.btn-cadastro {
  width: 30%;

  display: block;

  margin: 0 auto;

  padding: 10px;

  background-color: #1a6bad;

  font-weight: bold;
}
